@model DealDouble.Entities.Auction
<h2>Create Auction</h2>

<form method="post" id="CreateData">
    <label for="Title">
        Title
    </label>
    <input name="Title" />
    <hr />
    <label for="Description">
        Description
    </label>
    <input name="Description" />
    <hr />
    <label for="ActualAmount">
        ActualAmount
    </label>
    <input name="ActualAmount" />
    <hr />
    <label for="StartingTime">
        StartingTime
    </label>
    <input type="date" name="StartingTime" />
    <hr />
    <label for="EndingTime">
        EndingTime
    </label>
    <input type="date" name="EndingTime" />
    <hr />
    <button type="button" id="saveBtn">Create</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "@Url.Action("Create" , "Auctions")",
            data: $("#CreateData").serialize()
        }).done(function (response) {
            $("#actionContainer").html("");
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
</script>
