@model DealDouble.Web.ViewModels.CreateAuctionViewModel


<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" id="CreateData">
    <div class="modal-body">
        <div class="form-group">
            <label for="Title">
                Title
            </label>
            <input class="form-control" name="Title" />
        </div>

        <div class="form-group">
            <label for="Category">
                Category
            </label>
            <select class="form-control" name="CategoryID">
                @foreach (var Category in Model.Categories)
                {
                    <option value="@Category.ID">@Category.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Description">
                Description
            </label>
            <input class="form-control" name="Description" />
        </div>

        <div class="form-group">
            <label for="ActualAmount">
                ActualAmount
            </label>
            <input class="form-control" name="ActualAmount" />
        </div>

        <div class="form-group">
            <label for="StartingTime">
                StartingTime
            </label>
            <input class="form-control" name="StartingTime" />
        </div>

        <div class="form-group">
            <label for="EndingTime">
                EndingTime
            </label>
            <input class="form-control" name="EndingTime" />
        </div>
        <div class="form-group">
            <label for="AuctionPictures">
                AuctionPictures
            </label>
            <input id="auctionPicture" type="file" multiple class="form-control" name="AuctionPictures" />
            <div id="PicturesArea"></div>
            <input type="hidden" name="AuctionPictures" id="PictureIDs" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveBtn">Create</button>
    </div>
</form>

<script>
    $("#saveBtn").click(function () {
        debugger;
        var DataIDs = [];
        $("#PicturesArea .image").each(function () {
            var ImageID = $(this).attr("data-id");
            DataIDs.push(ImageID);
        });
        $("#PictureIDs").val(DataIDs.join());
        $.ajax({
            type: "Post",
            url: "@Url.Action("Create" , "Auctions")",
            data: $("#CreateData").serialize()
        }).done(function (response) {
            $("#FormModal").modal('toggle');
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
    $("#auctionPicture").change(function () {
        debugger;
        var Pictures = this;
        var PicData = new FormData();
        var totalfile = Pictures.files.length;
        for (var i = 0; i < totalfile; i++) {
            PicData.append("Picture", Pictures.files[i]);
        }
        $.ajax({
            type: "Post",
            url: "@Url.Action("UploadPictures","Shared")",
            data: PicData,
            dataType:"json",
            contentType: false,
            processData: false
        }).done(function (responses) {
            var Total = responses.length;
            for (var i = 0; i < Total; i++) {
                var picResponse = responses[i];
                AttachNewImage(picResponse.URL, picResponse.ID);
            }
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });
    function AttachNewImage(PicURL, PicID) {
        debugger;
        var $NewImgHTML = $("#ImageTemplate").clone();
        $NewImgHTML.find(".image").attr("src", "/Content/Images/" + PicURL);
        $NewImgHTML.find(".image").attr("data-id", PicID);
        $("#PicturesArea").append($NewImgHTML.html());
        RemoveImagesOnClick();
    }
</script>
