@model DealDouble.Entities.Auction
<h2>Create Auction</h2>

<form method="post" id="CreateData">
    <div class="form-group">
        <label for="Title">
            Title
        </label>
        <input class="form-control" name="Title" />
    </div>

    <div class="form-group">
        <label for="Description">
            Description
        </label>
        <input class="form-control" name="Description" />
    </div>

    <div class="form-group">
        <label for="ActualAmount">
            ActualAmount
        </label>
        <input class="form-control" name="ActualAmount" />
    </div>

    <div class="form-group">
        <label for="StartingTime">
            StartingTime
        </label>
        <input class="form-control" name="StartingTime" />
    </div>

    <div class="form-group">
        <label for="EndingTime">
            EndingTime
        </label>
        <input class="form-control" name="EndingTime" />
    </div>
    
    <button type="button" class="btn btn-success" id="saveBtn">Create</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "@Url.Action("Create" , "Auctions")",
            data: $("#CreateData").serialize()
        }).done(function (response) {
            $("#actionContainer").html("");
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
</script>
