@model DealDouble.Entities.Auction
<h2>Create Auction</h2>

<form method="post">
    <label for="Title">
        Title
    </label>
    <input name="Title" />
    <hr />
    <label for="Description">
        Description
    </label>
    <input name="Description" />
    <hr />
    <label for="ActualAmount">
        ActualAmount
    </label>
    <input name="ActualAmount" />
    <hr />
    <label for="StartingTime">
        StartingTime
    </label>
    <input type="datetime" name="StartingTime" />
    <hr />
    <label for="EndingTime">
        EndingTime
    </label>
    <input type="datetime" name="EndingTime" />
    <hr />
    <button>Create</button>
</form>
