@model DealDouble.Entities.Auction
@{
    ViewBag.Title = "Delete";
}

<form method="post" >
    <h2>Do you realy want to delete this Auction ? </h2>
    <a class="btn btn-danger"  href="@Url.Action("Delete","Auctions",Model)">Yes</a>
    <a class="btn btn-default" href="@Url.Action("Index","Auctions")">No</a>
</form>

