@model DealDouble.Web.ViewModels.UserBidsViewModel


<div class="card">
    <div class="card-body">
        @if (Model != null && Model.Bids.Count > 0)
        {
            foreach (var Bid in Model.Bids)
            {
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#">
                                <strong>Bid Amount : @Bid.BidAmount</strong>
                            </a>
                            <span class="float-right mb-2">
                                Date : @Bid.TimesTamp
                            </span>
                        </p>
                        <div class="clearfix"></div>
                        <p>For : @Bid.Auction.Title</p>
                        <span class="text-warning float-right">
                           Category : @Bid.Auction.Category.Name
                        </span>
                        <br />
                    </div>
                </div>
                <hr />
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No Bids has been submitted by This User..
            </div>
        }
    </div>
